{% load staticfiles %}
<!DOCTYPE html>
<html>

<head>
    <title>Index</title>
</head>

<body>
    <div id="app"></div>

    <script type="text/javascript">
        /* Put your context vars here. I recommend putting them under 
           a variable to avoid naming conflicts. 
        */
        var context = {
            title: '{{title}}',
        };
    </script>
    {% block content %}
    {% endblock %}

    <script type="text/javascript" src="{% static 'bundle.js' %}"></script>
</body>

</html>